<template>
  <NoteEditor :editMode="editMode"/>
</template>

<script>
import NoteEditor from "@/components/NoteEditor"

export default {
  name: "NoteView",
  components: {
    NoteEditor
  },
  computed: {
    noteID() {
      return this.$route.params.id ? this.$route.params.id : undefined
    },
    editMode() {
      return this.noteID !== undefined
    }
  }
}
</script>

<style scoped>

</style>