<template>
  <div>
    <NotePreview v-for="(item, index) in aa" :key="index"/>
    <AddNoteButton />
  </div>
</template>

<script>
import NotePreview from "@/components/NotePreview";
import AddNoteButton from "@/components/AddNoteButton";
export default {
  name: "NotesView",
  components: {
    NotePreview,
    AddNoteButton
  },
  data: () => ({
    aa: [
        1,2,3,4,5
    ]
  })
}
</script>

<style scoped>

</style>