<template>
  <button class="bg-indigo-500 px-2 py-1 text-xs text-white rounded" @click="goToNewNote">Create note</button>
</template>

<script>
export default {
  name: "AddNoteButton",
  methods: {
    goToNewNote() {
      this.$router.push('/note')
    }
  }
}
</script>

<style scoped>

</style>