<script>
import Navigation from "@/components/Navigation";
import ProfilePreview from "@/components/ProfilePreview";
import {MenuIcon, XIcon} from "vue-feather-icons"

export default {
  name: "Drawer",
  data: () => ({
    showDrawer: false
  }),
  components: {
    Navigation,
    ProfilePreview,
    MenuIcon,
    XIcon
  },
  methods: {
    drawerBind() {
      this.showDrawer = !this.showDrawer
    }
  }
}
</script>

<template>
  <div>
    <div class="drawer-icon left-0 top-0 mb-4 fixed z-20" v-if="showDrawer">
      <XIcon @click="drawerBind" class="cursor-pointer"/>
    </div>
    <div class="drawer-icon left-0 top-0 mb-4 fixed z-20" v-else>
      <MenuIcon @click="drawerBind"/>
    </div>
    <aside
        class="w-full fixed pt-8 transform bg-white h-full overflow-auto ease-in-out transition-all duration-300 z-10 box-border p-2"
        :class="showDrawer ? 'translate-x-0' : '-translate-x-full'"
    >
      <ProfilePreview/>
      <!--      <div class="border my-5 w-20"></div>-->
      <Navigation @clicked="drawerBind"/>
      <!--      <div class="border my-5 w-20"></div>-->
      <button class="bg-red-600 px-2 py-1 text-xs text-white rounded mt-5">Log out</button>
    </aside>

  </div>
</template>