<script>
export default {
  name: "Navigation",
  data: () => ({
    NAV_DATA
  }),
  methods: {
    emitClickedLink() {
      this.$emit('clicked')
    }
  }
}

const NAV_DATA = [
  {
    name: "Notes",
    path: "/"
  },
  {
    name: "Settings",
    path: "/settings"
  }
]

</script>

<template>
  <nav>
    <ul>
      <li v-for="navItem in NAV_DATA" :key="navItem.name" class="my-3 text-sm">
        <router-link :to="navItem.path" @click.native="emitClickedLink"> {{ navItem.name }}</router-link>
      </li>
    </ul>
  </nav>
</template>