<template>
  <div class="mt-10">
    <label for="note-title">Note title:</label>
    <input type="text" class="border border-gray-400 ml-4 mb-4" v-model="noteTitle" id="note-title"/>
    <Editor v-model="content" :options="EDITOR_CONFIG" previewStyle="tab"
            @change="onEditorChange" ref="toastuiEditor"/>
    <button class="bg-indigo-500 px-4 py-1 text-sm text-white rounded mt-4 text-right">Save</button>
  </div>
</template>

<script>
import 'codemirror/lib/codemirror.css';
import '@toast-ui/editor/dist/toastui-editor.css';
import {Editor} from '@toast-ui/vue-editor';


export default {
  name: "Note",
  props: {
    editMode: {
      type: Boolean,
      default: false
    }
  },
  components: {
    Editor
  },
  data() {
    return {
      content: '',
      noteTitle: '',
      EDITOR_CONFIG
    }
  },
  methods: {
    onEditorChange() {
      this.getEditorContent()
    },
    getEditorContent() {
      this.content = this.$refs.toastuiEditor.invoke('getHtml');
      this.saveNote()
    },
    saveNote() {
      const note = {
        title: this.noteTitle,
        content: this.content
      };
    }
  }
}

const EDITOR_CONFIG = {
  hideModeSwitch: true,
}
</script>