<template>
  <div class="flex justify-between my-5 cursor-pointer" @click="goToNote">
    <p>Note title</p>
    <p class="text-sm text-gray-600">11/12/2020 13:30</p>
  </div>
</template>

<script>
export default {
  name: "NotePreview",
  methods: {
    goToNote() {
      this.$router.push(`/note/2`)
    }
  }
}
</script>

<style scoped>

</style>