<template>
  <Viewer :initialValue="viewerText" height="500px"/>
</template>

<script>
import '@toast-ui/editor/dist/toastui-editor-viewer.css';

import {Viewer} from '@toast-ui/vue-editor';

export default {
  name: "NoteViewer",
  data: () => ({
    viewerText: '# This is Viewer.\n Hello World.'
  }),
  components: {
    Viewer
  }
}
</script>

<style scoped>

</style>