<template>
  <div>
    <img
        src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ffc02.deviantart.net%2Ffs71%2Ff%2F2013%2F210%2Ff%2Fb%2Fsquare_avatar_me_by_trinalovestoonlink-d6frf51.png&f=1&nofb=1"
        alt="avatar"
        class="w-10 h-10"
    />
    <p class="mt-2">Mateusz Kawka</p>
    <p class="text-xs text-gray-500 mb-3">@MateuszKawka</p>
    <button class="bg-indigo-500 px-2 py-1 text-xs text-white rounded">Profile</button>
  </div>
</template>

<script>
export default {
  name: "ProfilePreview"
}
</script>

<style scoped>

</style>