<script>
import Drawer from "@/components/Drawer";

export default {
  components: {
    Drawer
  }
}
</script>

<template>
  <div id="app" class="p-2 container w-full h-full box-border p-4">
    <Drawer />
    <router-view/>
  </div>
</template>

<style>
* {
  box-sizing: border-box;
}
</style>